.App {
  text-align: center;
}

.search {
  text-align: left;
  padding:8px 15px; 
  background:whitesmoke; 
  border:1px solid #130f0f;
  color: black;
}

h1 {
font-family: 'Righteous', cursive;
font-size: 72px;
color: rgb(0, 139, 116);

}

h2 {
font-family: 'Lakki Reddy', cursive;
}

/* .App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-1180deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
